* {
  box-sizing: border-box;
}

.hidden {
  display: none;
}

body {
  font-family: "Open Sans",
  sans-serif; 
  font-size: 16px;
  color: #444;
  text-align: center;
  line-height: 1.5;
  background-color: #FFFFFF;
}


main {
  width: 70%;
  margin: auto;
}

nav,
footer {
  font-family: "Lato", sans-serif;
  color: #FFFFFF;
  padding: 1% 0;
  background-color: #25599D;
}

nav > ul {
  column-count: 4;
  padding: 0px;
  margin-left: auto;
}

li {
  list-style: none;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}


h1, h2 {
  color: #25599D;
  font-family: "Lato", sans-serif;
}

#headshot {
  height: 40vh;
}

header {
  padding: 12% 0 5% 0;
}



section {
  min-height: 200px;
  padding: 6% 0;

}

#bio, .project-description {
  margin: 20px;
  font-size: 16px;
}

.bio-p {
  font-size: 16px;
}

.project-img {
  max-height: 300px;
  box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.50);
  cursor: pointer;
}

.logo {
  height: 30px;
}

address {
  font-style: normal;
}

.logo-container, .contact-links {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 40px;
}

.more-button {
  
  margin-bottom: 40px;

}

.tech {
  text-align: left;
}
 
.tech-list {
  text-align: center;
}

.logo-div {
  margin: 15px;
}

footer {
  font-size: 10px;
}

button {
  background: transparent; 
  font-family : inherit;
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

.less-button {
  font-size: 20px;
}

.live-repo button {
    font-size: 15px;
    border-radius: 5px;
    background-color: #25599D;
    color: white;
    padding: 7px;
}
.live-repo {
  margin-bottom: 40px;
}

.fa-angle-double-right {
  color: #25599D;
}

.contact-link {
  margin: 15px;

}

p {
  font-size: 10px;
} 

.contact-deet {
  font-size: 12px;
  display: block;
}

@media only screen and (max-width: 768px) {
  .contact-links {
    display: block;
  }
}


@media only screen and (max-width: 425px) {

  .project-img, .tech-list {
    width: 90%;
    margin: auto;
  }
  .bio-p {
    font-size: 14px;
  }
  main {
    width: 90%;
  }
  .logo-div > p {
    font-size: 10px;
  }
  .contact-deet {
    display: none;
  }
  .contact-links {
    display: block;
  }

}

@media only screen and (max-width: 375px) {

  main {
    width: 100%;
  }

  li {
    font-size: 12px;
  }

}

