* {
  box-sizing: border-box;
}

.hidden {
  display: none;
}

body {
  font-family: "Open Sans",
  sans-serif; 
  font-size: 16px;
  color: #444;
  text-align: center;
  line-height: 1.5;
  background-color: #FFFFFF;
}


main {
  margin: auto;
  background-color: #FFFFFF;
}


nav,
footer {
  font-family: "Lato", sans-serif;
  color: #FFFFFF;
  padding: 1% 0;
  background-color: #4B5581;
}

nav > ul {
  column-count: 5;
  padding: 0px;
  margin-left: auto;
}

li {
  list-style: none;
  cursor: pointer;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

h1 {
  font-size: 40px;
}

h1, h2 {
  color: #4B5581;
  font-family: "Lato", sans-serif;
}

h3 {
  font-size: 20px;
}

#headshot {
  height: 40vh;
  /*border: #47342B 10px solid;*/
  border-radius: 3px;
}

#bio {
  max-width: 600px;
}

header {
  padding: 10% 0 3% 0;
  background-color: #D1E0CA;
  width: 100%;
}



.project-container section {
  min-height: 200px;
  padding: 6% 0;
  max-width: 500px;
  margin: auto;
}

#bio, .project-description {
  margin: 20px;
  font-size: 16px;
}

#bio {
  margin: auto;

}


.bio-p {
  font-size: 16px;
}

.project-img {
  max-height: 300px;
  box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.50);
  cursor: pointer;
}


.projects-header {
  background-color: #D1E0CA;
  padding: 20px;
  font-size: 40px;
      width: 100vw;
    left: 0;
    position: absolute;
}

.project-container {
  padding-top: 150px;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.logo {
  height: 30px;
}

address {
  font-style: normal;
}

.logo-container {
  margin-top: 30px;
}

.logo-container, .contact-links {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  
}

.contact-links {
  padding-top: 40px;
}

.more-button {
  padding: 10px;
  color: #47342B;
  font-size: 15px;
  background-color: #D1E0CA;
  margin-bottom: 40px;
  border-radius: 3px;
  border: #47342B 3px solid;

}

.tech {
  text-align: left;
}
 
.tech-list {
  text-align: center;
}

.logo-div {
  margin: 15px;
}

footer {
  font-size: 10px;
}

button {
  background: transparent; 
  font-family : inherit;
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

.less-button {
  font-size: 20px;
}

.live-repo button {
    font-size: 15px;
    border-radius: 5px;
    background-color: #25599D;
    color: white;
    padding: 7px;
}
.live-repo {
  margin-bottom: 40px;
}

.fa-angle-double-right {
  color: #25599D;
}

.contact-link {
  margin: 15px;

}

p {
  font-size: 10px;
} 

.contact-deet {
  font-size: 12px;
  display: block;
}

.contact {
  margin: 50px auto;

}

@media only screen and (max-width: 1024px) {
  .project-container section {
    margin: 0px 20px;
  }
}

@media only screen and (max-width: 768px) {
  .contact-links {
    display: block;
  }
}


@media only screen and (max-width: 425px) {

  header {
    padding: 15% 0 3% 0;
  }

  .project-img, .tech-list {
    width: 90%;
    margin: auto;
  }
  .bio-p {
    font-size: 14px;
  }
  main {
    width: 90%;
  }
  .logo-div > p {
    font-size: 10px;
  }
  .contact-deet {
    display: none;
  }
  .contact-links {
    display: block;
  }

}

@media only screen and (max-width: 375px) {
   .bio-p {
    padding: 15px;
  }
  main {
    width: 100%;
  }

  li {
    font-size: 12px;
  }

}

