* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans",
  sans-serif; 
  font-size: 20px;
  color: #444;
  text-align: center;
  line-height: 1.5;
}

nav,
footer {
  font-family: "Lato", sans-serif;
  color: #FFFFFF;
  padding: 1% 0;
  background-color: #25599D;
}

nav > ul {
  column-count: 4;
}

li {
  list-style: none;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.header-marg {
  height: 50px;
}

h1, h2 {
  color: #25599D;
  font-family: "Lato", sans-serif;
}

#headshot {
  border-radius: 50%;
  height: 25vh;
}

header {
  padding: 12% 0;
}



section {
  min-height: 200px;
  padding: 6% 0;

}


#bio, #contact {
  background-color: #FFFFFF;
  padding: 25px;
}

.project-img {
  max-height: 300px;
  box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.50);
}

address {
  font-style: normal;
}